:plain
    $("##{@book.slug} .note-content").prepend('#{j render(:partial => 'notes/note', :locals => {:note => @note}) }').fadeIn('slow');
    $('##{@book.slug} .note-content .on_the_spot_editing').each(initializeOnTheSpot);