%section#about
  .page-header
    %h1
      About
      %small hopefully what you wanted to know
  %p
    This is a small side-project, just scratching my own itch, I am an avid user of Google Notebook, but that could
    die every minute now (not really, but hey).
    So this site will mostly mimick the functionality of Google Notebook. Plain and simple note-keeping. Using markdown for formatting.