%section#books
  .page-header
    %h1 Your notebooks

  %ul.tabs
    - first = true
    - @books.each do |book|
      %li{:class => first && 'active' }
        = link_to book.title, "##{book.slug}"
        - first = false

  .tab-content
    - first = true
    - @books.each do |book|
      %div{:id => "#{book.slug}", :class => first && 'active' }
        - first = false
        .note-content
          - book.notes.each do |note|
            .note
              = on_the_spot_edit note, :content, :type => :textarea
        .actions
          =link_to 'Add a new note', '#'

